*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #fff;
}
html,body{
width: 100%;
height: 100vh;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #000;
    position: relative;
}
#nav{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}
#nav img{
    height: 65px;
    
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 55px;
}
#nav-part3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
#nav h3{
    text-transform: uppercase;
}
#nav h4{
    text-transform: uppercase;
}
#nav button{
    color: #000;
    background-color: #fff;
    padding: 18px 25px;
    font-size: 16px;
    font-weight: 700;
}
#main1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
#main1 h1{
    text-align: center;
    font-size: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}
#h01{
    margin-bottom: -50px;
}
#main1 h1 span{
    font-size: 40px;
    background-color:brown;
    color: #fff;
    padding: 20px 30px;
    margin: -120px 20px;
    border-radius: 60px;
}
#main h1:nth-child(2){
    margin-top: 60px;
}
/* #main h1:nth-child(3){
    margin: -50px 0px;
    font-size: 12vw;
} */

#img1{
    position: absolute;
    top: 14%;
    left: 15%;
    width: 150px;
    rotate: 10deg;
}
#img4{
    position: absolute;
    top: 60%;
    left: 7%;
    width: 200px;
    rotate: -10deg;

}
#img3{
    position: absolute;
    bottom: 12%;
    right: 20%;
    width: 140px;
    rotate: 20deg;
    z-index: 0;

}
#img2{
    position: absolute;
    top: 15%;
    right: 50%;
    width: 120px;
    border-radius: 50%;
    z-index: 0;
    rotate: 20deg;
}
#img5{
    position: absolute;
    top: 20%;
    right: 10%;
    width: 170px;
}
#main h5{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    bottom: 10%;
}